/* ================ VARIABLES ================*/
:root{
    --main-color: #FFFFFF;
    --main-accent-color: #4D5AE5;
    --accent-ocean-color: #404BBF;
    --accent-navy-color: #2E2F42;
    --accent-slate-color: #434455;
    --accent-cornflower-color: #E7E9FC;
    --accent-cloud-color: #F4F4FD;
    --accent-dairy-color: #FCFCFC;
    --accent-lgslate-color: #8E8F99;
    --accent-green-color: #31D0AA;
    --shadow-effect-color: rgba(46, 47, 66, 0.7);
    --modal-effect-color: rgba(46, 47, 66, 0.4);
    --main-font: "Roboto", sans-serif;
    --accent-font: "Raleway", sans-serif;

}
/* ================ / VARIABLES ================*/

/* ================ RESET STYLES ================*/
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    
}

img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

/* ================ / RESET STYLES ================*/

/* ================ COMMON STYLES ================*/


.container { 
    max-width: 1158px;
    padding-left: 15px;  
    padding-right: 15px;
    margin-left: auto;
    margin-right:  auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body, button, p {
    font-family: var(--main-font);
    color: var(--accent-slate-color);
    line-height: 1.5;
}

.full-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ================ /COMMON STYLES ================*/

/* ================ COMPONENTS ================*/
.logotype {
    position: relative;
    margin-right: 76px;
    display: flex;
    gap: 1px;
    font-family: var(--accent-font);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-accent-color);
}
.logotype span{
    color: var(--accent-navy-color);
}

/* ================ /COMPONENTS ================*/

/* ============= PAGE HEADER ============= */
.top-header{
    border-bottom: 1px solid var(--accent-cornflower-color);
    max-height: 72px;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.top-header-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header {
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    gap: 40px;
}

.menu-points .link {
    position: relative;
    font-weight: 500;
    color: var(--accent-navy-color);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-points .link:hover, .menu-points link:focus {
    color: var(--accent-ocean-color);
}

.menu-points .current {
    color: var(--accent-ocean-color);
}

.menu-points .current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: var(--accent-ocean-color);
    content:'';
    border-radius: 2px;
}

.address-header .list {
    display: flex;
    gap: 40px;
}

.address-header .adress-link {
    color: var(--accent-slate-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-header .adress-link:hover, .address-header .adress-link:focus {
    color: var(--accent-ocean-color);
}
/* ============= PAGE HEADER ============= */

/* ================ HERO ================ */
.hero {
    padding: 188px 0;
    background-color: var(--accent-navy-color);
    background-image:linear-gradient(var(--shadow-effect-color), 
    var(--shadow-effect-color)), url(../images/hero-page/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin-left: 0;
    margin-right:  0;
    background-position: center;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    color: var(--main-color);
}

.hero .header-f {
    max-width: 496px;
    text-transform: capitalize;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    color: var(--main-color);
}
.hero .cta {
    border-bottom: 1px solid var(--accent-cornflower-color);
    border: none;
    flex-basis: auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 0;
    background-color: var(--main-accent-color);
    color: var(--main-color);
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero button:hover, .hero button:focus {
    background-color: var(--accent-ocean-color);
}

/* ================ / HERO ================ */

/* ================ BENEFITS ================ */
.benefits {
    padding: 120px 0;
}

.benefits .list {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

.benefits .list-points {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((100% - 72px) / 4);
}

.benefits .icon-bg {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: var(--accent-cloud-color);
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.benefits .icon-benefits {
    margin: auto;
}

.benefits .header-sec {
    text-transform: capitalize;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--accent-navy-color)
    
}

.benefits .header-third {
    margin-bottom: 8px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-navy-color)
}

.benefits .paragraph {
    color: var(--accent-slate-color);
}

/* ================ / BENEFITS ================ */

/* ================ What are we doing ================ */
.what-we-do {
    padding-bottom: 120px;
}

.what-we-do .container {
    display: flex;
    flex-direction: column;
}

.what-we-do .header-sec {
    margin-bottom: 72px;
    text-transform: capitalize;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--accent-navy-color)
    
}

.what-we-do .list {
    display: flex;
    gap: 24px;
}

.what-we-do .list-points {
    width: calc((100% - 48px) / 3);
}
/* ================ / What are we doing ================ */

/* ================ OUR TEAM ================ */
.our-team {
    padding: 120px 0;
    background-color: var(--accent-cloud-color);
}

.our-team .list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.our-team .points {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.our-team .employee {
    padding: 32px 0;
}

.our-team .header-sec {
    text-transform: capitalize;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--accent-navy-color);
    margin-bottom: 72px;
    
}

.our-team .header-third {
    margin-bottom: 8px;
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-navy-color)
}

.our-team .paragraph {
    color: var(--accent-slate-color);
    text-align: center;
    margin-bottom: 8px;
}

.our-team .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    
}
.our-team .list-points {
    height: 40px;
    width: 40px;  
}

.our-team .link {
    width: 100%;
    height: 100%;
    background-color: var(--main-accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team .icon-social {
    margin: auto;
    fill: var(--accent-cloud-color);
}

.our-team .link:hover, .our-team .link:focus {
    background-color: var(--accent-ocean-color);
}
/* ================ / OUR TEAM ================ */

/* ================ CUSTOMERS ================ */
.customers {
    padding: 120px 0;
}

.customers .header-sec {
    text-transform: capitalize;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--accent-navy-color);
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.customers-list .list-points {
    height: 88px;
    width: 168px;
}

.customers-list .icon-customers {
    fill: currentColor;
}

.customers .link {
    width: 100%;
    height: 100%;
    color: var(--accent-lgslate-color);
    border-radius: 4px;
    border: 1px solid var(--accent-lgslate-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list .link:hover, .customers-list .link:focus {
    color: var(--accent-ocean-color);
    border-color: var(--accent-ocean-color);
}

/* ================ / CUSTOMERS  ================ */


/* ================ PORTFOLIO ================ */
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio .button-list {
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.portfolio .portfolio-button {
    padding: 12px 24px;
    border: 1px solid var(--accent-cornflower-color);
    border-radius: 4px;
    color: var(--main-accent-color);
    background-color: var(--accent-cloud-color);
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio .portfolio-button:hover, .portfolio .portfolio-button:focus {
    color: var(--main-color);
    background-color: var(--accent-ocean-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 
    0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.portfolio .card-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.card-points .link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .works {
    padding: 32px 16px;
    border: 1px solid var(--accent-cornflower-color);
    border-top: none;
}

.portfolio .header-sec {
    margin-bottom: 8px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-navy-color);
}

.portfolio .paragraph {
    color: var(--accent-slate-color);
}

.portfolio .img-p-wrapper {
    position: relative;
    overflow: hidden;
}

.img-p-wrapper .overlay-text {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: var(--main-accent-color);
    font-size: 16px;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.card-points .link:hover .img-p-wrapper .overlay-text, 
.card-points .link:focus .img-p-wrapper .overlay-text {
    transform: translateY(0);
}

.card-points .link:hover, .card-points .link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ================ / PORTFOLIO ================ */

/* ================ FOOTER ================ */
footer, p {
    color: var(--accent-cloud-color);
}

.down-footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--accent-navy-color);
}

.down-footer .container {
    display: flex;
    align-items: baseline;
}

.down-footer .logo-footer {
    margin-right: 120px;
}

.down-footer .link {
    display: inline-block;
    margin-bottom: 16px;
}

.down-footer .paragraph {
    max-width: 264px;
}

footer .accent {
    color: var(--accent-cloud-color)
}

.down-footer .social-header {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.down-footer .social-links {
    margin-right: 80px;
}
.down-footer .social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.down-footer .list-points {
    width: 40px;
    height: 40px;
}
.down-footer .social-icons-links {
    width: 100%;
    height: 100%;
    background-color: var(--main-accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.down-footer .icon-social {
    fill: var(--accent-cloud-color);
}

.down-footer .social-icons-links:hover, .down-footer .social-icons-links:focus {
    background-color: var(--accent-green-color);
}

.footer-form {
    display: flex;
    gap: 24px;
}
.footer-form .subcribe-email {
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    min-width: 264px;
    height: 40px;
    padding: 8px 16px;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--main-color);
    outline: transparent;
    outline-offset: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form .subcribe-email:focus {
    background-color: var(--accent-dairy-color);
    border-color: var(--main-accent-color);
    color: var(--accent-navy-color);
}

.footer-form .subcribe-email:focus::placeholder {
    color: var(--accent-navy-color);
}

.subcribe-email::placeholder {
    color: var(--main-color);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.subcribe-field .subcribe-button {
    display: flex;
    flex-basis: auto;
    border-bottom: 1px solid var(--accent-cornflower-color);
    border: none;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    padding: 8px 24px;
    background-color: var(--main-accent-color);
    color: var(--main-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subcribe-field .subcribe-button:hover, .subcribe-field .subcribe-button:focus {
    background-color: var(--accent-ocean-color);
}

.subcribe-button .subscribe-icon {
    margin-left: 16px;
    fill: var(--main-color);
}

/* ================ / FOOTER ================ */

/* ================ BACKDROP ================ */
.backdrop {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--modal-effect-color);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
/* ================ / BACKDROP ================ */

/* ================ MODAL ================ */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    background-color: var(--accent-dairy-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 1px 3px rgba(0, 0, 0, 0.12), 
     0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.modal .close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%; 
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--accent-cornflower-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .icon-close {
    fill: var(--accent-navy-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close-button:hover, .modal .close-button:focus {
    border: none;
    background-color: var(--accent-ocean-color);
}

.close-button:hover .icon-close, .close-button:focus .icon-close{
    fill: var(--main-color);
}

.modal .modal-paragraph {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--accent-navy-color);
}

.modal-form .modal-label {
    display: block; 
    margin-bottom: 4px;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: var(--accent-lgslate-color);
}

.modal-form .input-wrapper {
    margin-bottom: 8px;
}

.modal-form .last-input-wrapper {
    margin-bottom: 16px;
}

.modal-form .modal-input-txt {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--modal-effect-color);
    background-color: transparent;
    outline: transparent;
    outline-offset: 2px;
    padding-left: 38px;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: var(--accent-lgslate-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-form .modal-input-wrapper {
    position: relative;
}

.modal-input-wrapper .modal-icons {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--accent-navy-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrapper #body-icon {
    padding: 6px 3px;
}

.modal-input-wrapper #phone-icon {
    padding: 5px 3px 6px 2px;
}

.modal-input-wrapper #mail-icon {
    padding: 6px 1.5px;
}

.modal-form .modal-input-txt:focus {
    border-color: var(--main-accent-color);
}

.modal-input-txt:focus + .modal-icons {
    fill: var(--main-accent-color);
}

.modal-textarea {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--modal-effect-color);
    outline: transparent;
    outline-offset: 2px;
    color: var(--modal-effect-color);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}


.modal-textarea:focus {
    border-color: var(--main-accent-color);
    
}

.modal-form .input-wrapper-agreement{
    margin-bottom: 24px;
}

.modal-form .modal-label-checkbox {
    display: block;
    margin-bottom: 4px;
    color: var(--accent-lgslate-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-label-checkbox .icon-click-modal-wrapper {
    width: 16px;
    height: 16px;
    cursor: pointer;
    fill: transparent;
    border: 1px solid var(--modal-effect-color);
    border-radius: 2px;
    padding: 4px 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input.checkbox-agreement:checked + .modal-label-checkbox .icon-click-modal-wrapper {
    background-color: var(--accent-ocean-color);
    fill: var(--accent-cloud-color);
    border: none;
}

.modal-label-checkbox .link {
    color: var(--main-accent-color);
}

.modal-form .send-button {
    position: relative;
    display: block;
    top: 24px;
    left: 25%;
    transform: translateY(-24px);
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    padding: 0;
    background-color: var(--main-accent-color);
    color: var(--main-color);
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .send-button:hover, .modal-form .send-button:focus {
    background-color: var(--accent-ocean-color);
}
/* ================ / MODAL ================ */







