@media screen and (max-width: 767px) {
    .customers {
        padding: 96px 0;
    }
    .customers .header-sec {
        margin-bottom: 72px;
        text-transform: capitalize;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--accent-navy-color);
    }

    .customers-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 72px;
        column-gap: 16px;
    }

    .customers-list .list-points {
        height: 88px;
        max-width: 190px;
        width: calc((100% - 16px) / 2);
    }

    .customers-list .icon-customers {
        fill: currentColor;
        width: 110px;
        height: 56px;
    }

    .customers .link {
        width: 100%;
        height: 100%;
        color: var(--accent-lgslate-color);
        border-radius: 4px;
        border: 1px solid var(--accent-lgslate-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .customers-list .link:hover, .customers-list .link:focus {
        color: var(--accent-ocean-color);
        border-color: var(--accent-ocean-color);
    }
}


@media screen and (min-width: 768px) and (max-width:1157px) {
    .customers {
        padding: 96px 0;
    }
    .customers .header-sec {
        margin-bottom: 72px;
        text-transform: capitalize;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--accent-navy-color);
    }

    .customers-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 72px;
        column-gap: 24px;
    }

    .customers-list .list-points {
        height: 88px;
        max-width: 190px;
        width: calc((100% - 48px) / 3);
    }

    .customers-list .icon-customers {
        fill: currentColor;
        width: 104px;
        height: 56px;
    }

    .customers .link {
        
        width: 100%;
        height: 100%;
        color: var(--accent-lgslate-color);
        border-radius: 4px;
        border: 1px solid var(--accent-lgslate-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .customers-list .link:hover, .customers-list .link:focus {
        color: var(--accent-ocean-color);
        border-color: var(--accent-ocean-color);
    }
}

@media screen and (min-width:1158px) {
    .customers {
        padding: 120px 0;
    }

    .customers .header-sec {
        text-transform: capitalize;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--accent-navy-color);
        margin-bottom: 72px;
    }

    .customers-list {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .customers-list .list-points {
        height: 88px;
        width: 168px;
    }

    .customers-list .icon-customers {
        fill: currentColor;
        width: 104px;
        height: 56px;
    }

    .customers .link {
        width: 100%;
        height: 100%;
        color: var(--accent-lgslate-color);
        border-radius: 4px;
        border: 1px solid var(--accent-lgslate-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .customers-list .link:hover, .customers-list .link:focus {
        color: var(--accent-ocean-color);
        border-color: var(--accent-ocean-color);
    }
}